body {
    background: linear-gradient(#f5f5dc 0%, #6f4e37 40%, #f5f5dc 100%);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.profileImage {
    width: 200px;
}
.profile h2 {
    color: white;
}
.profile h4 {
    color: white;
    transform: translateY(-10px);
}
.biodata {
    background: linear-gradient(#ffffff 0%, #ffffff00 40%, #ffffff 100%);
    padding-bottom: 100px;
    padding-top: 100px;
}
.biodata .btn {
    width: 180px;
    height: 40px;
    font-size: 14px
}
.tabel {
    border-collapse: collapse;
    width: 100%;
}
.tabel th,
.tabel td {
    border: 1px solid black;
    padding: 10px 15px;
    text-align: center;
}
.tabel th {
    font-weight: bold;
}
.footer {
    background-color: white;
    padding-bottom: 10px;
}
.contact a {
    color: black;
    font-size: 20px;
}
.watermark {
    padding-top: 20px;
}